body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}

.socialmediaicons{
	text-align: center;
}
.pageHeader{
  margin: 20px 0 0 40px;
}
.studentMeta{
  margin-top: 6px;
}
.pageHeader{
  margin: 20px 0 0 40px;
}
.studentMeta{
  margin-top: 6px;
}

